---
layout: default
type: home
---

<h1>Home Page for Site</h1>


<h2>Packets! We don't need no stinkin' packets.</h2>

{% for packet in site.packets.docs %}
	<h6>
		<a
      target="_blank"
      href="{{site.baseurl}}{{ packet.path }}">
			{{ packet.path }}
		</a>
	</h6>
{% endfor %}

<h2>Static! We don't need no stinkin' static.</h2>

{% for packet in site.static_files %}
	<h6>
		<a
      target="_blank"
      href="{{site.baseurl}}{{ packet.path }}">
			{{ packet.path }}
		</a>
	</h6>
{% endfor %}
