---
layout: default
type: home
---

<h1>Home Page for Site</h1>


<h2>Collections! We don't need no stinkin' collections.</h2>

{% for collection in site.collections %}

<h4>Collection {{forloop.index}}</h4>

{% for collection in site.collections%}
 Collection name: {{collection.label}}
 Relative path to the collection's source directory: {{collection.relative_directory }}
 Full path to the collection's directory: {{collection.directory}}
 Output collection files as individual files?: {{collection.output}}
 {% for doc in collection.docs%}
  {{doc.title}}
  {{doc.slug}}
 {% endfor %}
{% endfor %}


<h2>Packets! We don't need no stinkin' packets.</h2>

{% for packet in site.packets.docs %}
  <h6>
    <a
      target="_blank"
      href="{{site.baseurl}}{{ packet.path }}">
      {{ packet.path }}
    </a>
  </h6>
{% endfor %}

<h2>Static! We don't need no stinkin' static.</h2>

{% for packet in site.static_files %}
	<h6>
		<a
      target="_blank"
      href="{{site.baseurl}}{{ packet.path }}">
			{{ packet.path }}
		</a>
	</h6>
{% endfor %}
